extends layout

block content
  h1 tEgRaT's RESTful API
  h2 Time Stamp Microservice
  p.red Example Usage
  code localhost:3000/September 14, 2017
  br
  code localhost:3000/1505318400
  p.red Expected Output is JSON
  code {"unix":1505318400,"natural":"September 14, 2017"}
  